:root {
  --primary: hsl(200, 70%, 30%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* + * {
  margin-block: 1.5em;
}

html {
  color-scheme: light dark;
}

body {
  max-width: min(calc(100% - 3rem), 65ch);
  margin-inline: auto;
  font: 1.1rem / 1.6 Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, "Arial Black", Arial, sans-serif;
  margin-block: 2em 0;
}

.power-card {
  border: 1px solid currentColor;
  margin-block: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.power-card .power-card {
  margin-inline: 1rem;
}

.power-card > :is(h4,p) {
  margin: 0;
  padding-inline: 1rem;
  text-indent: -0.5rem;
}

.power-card > h4 {
  background-color: var(--title-color, transparent);
  padding-block: 0.3rem;
}

.power-card > :is(:last-child, h4) {
  margin-block-end: 0.5rem;
}

.recharge {
  --title-color: hsl(300, 80%, 60%);
}

.at-will {
  --title-color: hsl(120, 80%, 60%);
}

.daily {
  --title-color: hsl(0, 0%, 70%);
}

.encounter {
  --title-color: hsl(0, 80%, 60%);
}

table {
  border-collapse: collapse;
}

th {
  border-block-end: 1px solid currentColor;
  color: var(--primary);
  font-family: Tahoma, "Arial Black", Arial, sans-serif;
}

th,
td {
  padding-block: 0.4em;
}

th:not(:first-child),
td:not(:first-child) {
  padding-inline-start: 2ch;
}

tr:nth-child(even):not(:last-child),
pre,
code {
  border-block-end: 1px dotted currentColor;
}

p > img:only-child,
p > a:only-child > img {
  max-width: 100%;
  display: block;
  padding: 1em;
  border: 1px solid currentColor;
}

tr:nth-child(even):not(:last-child),
pre,
code {
  border-block-end: 1px dotted currentColor;
}

blockquote {
  margin-inline: 0;
  padding: 0.1rem 1rem;
  border-inline-start: 0.2rem solid currentColor;
  font-style: italic;
  color: var(--primary);
}

blockquote em,
cite {
  font-style: normal;
}

cite {
  display: flex;
  justify-content: end;
  margin-block: 0;
}

pre,
code {
  border: 1px solid currentColor;
  border-radius: 0.2rem;
}

code {
  padding: 0.25ch 0.5ch;
  font-family: "Courier New", Courier, monospace;
}

pre {
  padding: 0.5ch;
  overflow: auto;
}

pre code {
  border: none;
}

li + li {
  margin-block: 0.5em 0;
}

figure {
  width: 100%;
  overflow: auto;
  break-inside: avoid;
}

figcaption {
  font: bold 1.2em Tahoma, "Arial Black", Arial, sans-serif;
  margin-block-start: 1.5em;
  text-align: center;
}

a,
strong {
  color: var(--primary);
}

a {
  transition: all 400ms;
}

a:hover {
  filter: brightness(150%);
}

ul,
ol {
  padding-inline-start: 1rem;
}

li > :is(ol, ul) {
  padding-inline-start: 1em;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media print {
  @page {
    margin: 1in;
  }

  :root {
    --primary: black;
  }

  body {
    font-size: 10pt;
  }

  header,
  main {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  nav {
    display: none;
  }

  pre,
  table,
  blockquote {
    break-inside: avoid;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  table {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  body {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: hsl(200, 70%, 70%);
  }
  .recharge {
    --title-color: hsl(300, 100%, 25%);
  }
  
  .at-will {
    --title-color: hsl(120, 100%, 25%);
  }
  
  .daily {
    --title-color: hsl(0, 0%, 0%);
  }

  .encounter {
    --title-color: hsl(0, 100%, 25%);
  }
  
}
